body {
    background-color:blue;
    padding:50px;
    justify-content: center;
    align-items: center;
}

h2 {
    text-align: center;
    color:blue;
}

button {
    background-color:green;
    border: none;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.conta















